### Importing Users, Ratings and Items(movies) data

In [2]:
import pandas as pd
import numpy as np
#from surprise import Dataset, evaluate

In [3]:
# Pipe separated files without headers, headers in readme file

#Reading users file:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', names=u_cols,
 encoding='latin-1')

#Reading ratings file:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,
 encoding='latin-1')

#Reading items file:
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,
 encoding='latin-1')

In [4]:
print(users.shape)
ratings.head()
#users['user_id'].nunique()

(943, 5)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [33]:
print(ratings.shape)
n_users = ratings["movie_id"].nunique() 
n_items = ratings.movie_id.unique().shape[0]

(100000, 4)

1682

In [36]:
ratings_base = pd.read_csv('ml-100k/ua.base', sep='\t', names=r_cols,
 encoding='latin-1')
ratings_test = pd.read_csv('ml-100k/ua.test', sep='\t', names=r_cols,
 encoding='latin-1')
ratings_base.shape, ratings_test.shape

((90570, 4), (9430, 4))